body {
    padding: 0px;
    background-color: lightgray;
}
#search-form{
    width: 100%;
}
#cover{
    background-image: url('/images/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}
#cover h1{
    font-size: 6rem;
    color: aliceblue;
}

* {
    font-family: 'Poppins', sans-serif;
}

.btn-read-more {
    position: absolute;
    top: 85%;
    right: 10%;
}

.thumbnail-image {
    height: 450px;
    width: 600px;
}